<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.zhuzhiguang.senior1.week2.dao.GoodMapper">
 	
 	<select id="list" resultType="goods">
 		select * from tb_goods
 		<where>
 			<if test="maxPrice!=null">
 				AND price &lt;=#{maxPrice}
 			</if>
 			<if test="minPrice!=null">
 				AND price &gt;=#{minPrice}
 			</if>
 			<if test="maxSales!=null">
 				AND sales &lt;=#{maxSales}
 			</if>
 			<if test="minSales!=null">
 				AND sales &gt;=#{minSales}
 			</if>
 		</where>
 		
 		<if test="sortField==1">
 			 Order by price 
 		</if>
 		<if test="sortField==2">
 			 Order by sales 
 		</if>
 		
 		<if test="sortType==1">
 			 ASC
 		</if>
 		<if test="sortType==2">
 			 DESC 
 		</if>
 		
 	</select>
 </mapper> 